{{#> admin}}
  {{#*inline "content"}}
    <div class="card">
      <div class="card-header">
        Admin Panel - Home Page
      </div>
      <div class="card-body">
        Welcome to the Admin Panel, use the sidebar to navigate between the different options.
      </div>
    </div>
  {{/inline}}
{{/admin}}
