{{#> app}}
  {{#*inline "content"}}
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/game.png" class="img-fluid rounded">
      </div>
      <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/safe.png" class="img-fluid rounded">
      </div>
      <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/submarine.png" class="img-fluid rounded">
      </div>
    </div>
  {{/inline}}
{{/app}}